In [20]:
import json
import glob
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [21]:
df = pd.read_csv("HongKong_China_Data.csv")
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**a) “host_response_rate” sea mayor a 95% y que no sean “Superhost”**

In [22]:
hrrsh = df[(df["host_response_rate"] >= '95%') & (df["host_is_superhost"] == 'f')]
hrrsh

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
99,city scrape,14861546,Tane Residence,28/04/2014,Hong Kong,within a few hours,97%,40%,f,Causeway Bay,...,24/06/2014,26/06/2016,4.50,4.83,f,124,113,11,0,0.05
102,city scrape,14861546,Tane Residence,28/04/2014,Hong Kong,within a few hours,97%,40%,f,Causeway Bay,...,30/06/2014,16/07/2022,4.30,4.40,f,124,113,11,0,0.34
103,city scrape,14861546,Tane Residence,28/04/2014,Hong Kong,within a few hours,97%,40%,f,Causeway Bay,...,30/06/2014,24/04/2016,4.14,4.33,f,124,113,11,0,0.22
186,city scrape,10575316,Ethan,11/12/2013,Hong Kong,within an hour,97%,98%,f,Sai Ying Pun,...,19/06/2015,08/12/2024,4.64,4.56,t,2,2,0,0,0.94
278,city scrape,14861546,Tane Residence,28/04/2014,Hong Kong,within a few hours,97%,40%,f,Causeway Bay,...,25/07/2015,03/02/2023,4.42,4.25,f,124,113,11,0,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,city scrape,576944427,Wun Man,11/05/2024,Hong Kong,within an hour,95%,100%,f,Wan Chai,...,NaN,NaN,NaN,NaN,t,3,3,0,0,NaN
6707,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6708,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6709,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6710,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN

**b) Los registros cuyas propiedades no tengan “1 baño”**

In [23]:
banos = df[(df["bathrooms"] > 1)] 
banos

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
15,city scrape,2767759,Alfred,28/06/2012,Hong Kong,within a day,90%,74%,f,Causeway Bay,...,06/08/2012,16/12/2024,4.80,4.85,f,9,9,0,0,0.09
16,city scrape,634820,Wontonmeen,27/05/2011,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,17/09/2012,01/12/2024,4.68,4.61,t,6,0,1,3,1.42
17,city scrape,634820,Wontonmeen,27/05/2011,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,21/08/2012,05/06/2024,4.56,4.72,t,6,0,1,3,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6668,city scrape,4584648,Ivy,04/01/2013,Hong Kong,within a day,100%,39%,f,Mong Kok,...,NaN,NaN,NaN,NaN,t,351,12,338,1,NaN
6673,city scrape,498695672,Morgen,30/01/2023,NaN,within a few hours,100%,44%,f,Hung Hom Bay,...,NaN,NaN,NaN,NaN,f,105,1,104,0,NaN
6674,city scrape,498695672,Morgen,30/01/2023,NaN,within a few hours,100%,44%,f,Hung Hom Bay,...,NaN,NaN,NaN,NaN,t,105,1,104,0,NaN
6676,city scrape,76927781,Jinny,10/06/2016,"Vienna, VA",within an hour,100%,50%,f,Tai Po,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**c) Los registros que tengan un precio entre “$100 y $200 US” (Realizar conversión de moneda)**

In [24]:
df['host_since'] = df['host_since'].str.replace('$','')
df['host_since'] = df['host_since'].str.replace(',','')
precio = df[(df["price"] <= "200.00") | (df["price"] >= "100.00")]
precio

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
5,city scrape,1576511,Frederic,07/01/2012,Hong Kong,NaN,NaN,0%,f,Sheung Wan,...,27/01/2012,14/08/2015,4.89,5.00,f,1,1,0,0,0.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**d) Los registros que sean “instant_bookable” y que hallan verificado su perfil “host_identity_verified”**

In [25]:
ibiv = df[(df["instant_bookable"] == 't') & (df["host_identity_verified"] == 't')]
ibiv

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
9,city scrape,2767794,Check Inn HK,28/06/2012,Hong Kong,within an hour,100%,100%,f,Wan Chai,...,18/10/2015,01/03/2022,4.51,4.60,t,19,4,5,10,1.86
11,city scrape,2767794,Check Inn HK,28/06/2012,Hong Kong,within an hour,100%,100%,f,Wan Chai,...,06/08/2012,02/03/2023,4.52,4.66,t,19,4,5,10,0.19
16,city scrape,634820,Wontonmeen,27/05/2011,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,17/09/2012,01/12/2024,4.68,4.61,t,6,0,1,3,1.42
17,city scrape,634820,Wontonmeen,27/05/2011,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,21/08/2012,05/06/2024,4.56,4.72,t,6,0,1,3,0.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6695,city scrape,576944427,Wun Man,11/05/2024,Hong Kong,within an hour,95%,100%,f,Wan Chai,...,NaN,NaN,NaN,NaN,t,3,3,0,0,NaN
6699,city scrape,22099535,May Xian,03/10/2014,NaN,within an hour,100%,92%,f,Causeway Bay,...,NaN,NaN,NaN,NaN,t,3,3,0,0,NaN
6701,city scrape,267770044,Habyt,11/06/2019,Hong Kong,within a day,70%,50%,f,Tai Ping Shan,...,NaN,NaN,NaN,NaN,t,85,19,66,0,NaN
6704,city scrape,667427717,Pak Hin,17/12/2024,NaN,NaN,NaN,100%,f,Tai Hang,...,22/12/2024,22/12/2024,5.00,5.00,t,1,1,0,0,1.00
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN

**e) Los registros de los tipos de cuarto: “hotel room” o “Private room”**

In [26]:
hrpr = df[(df["room_type"] == 'Hotel room') | (df["room_type"] == 'Private room')]
hrpr

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6,city scrape,1209984,Daisy,26/09/2011,Hong Kong,NaN,NaN,100%,f,Mui Wo,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
12,city scrape,2846701,Veronica,06/07/2012,Hong Kong,within an hour,100%,100%,f,Tai O,...,14/06/2015,17/02/2024,4.80,4.93,f,3,0,0,0,0.13
13,city scrape,2846701,Veronica,06/07/2012,Hong Kong,within an hour,100%,100%,f,Tai O,...,10/05/2014,02/07/2023,4.74,4.74,f,3,0,0,0,0.36
14,city scrape,2846701,Veronica,06/07/2012,Hong Kong,within an hour,100%,100%,f,Tai O,...,20/10/2013,11/11/2024,4.83,4.77,f,3,0,0,0,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6708,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6709,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6710,city scrape,489744412,Lailai,30/11/2022,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**f) Los registros que tengan mas de 4 “accommodates”**

In [27]:
accommodates = df[(df["accommodates"] > 4)]
accommodates

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
9,city scrape,2767794,Check Inn HK,28/06/2012,Hong Kong,within an hour,100%,100%,f,Wan Chai,...,18/10/2015,01/03/2022,4.51,4.60,t,19,4,5,10,1.86
11,city scrape,2767794,Check Inn HK,28/06/2012,Hong Kong,within an hour,100%,100%,f,Wan Chai,...,06/08/2012,02/03/2023,4.52,4.66,t,19,4,5,10,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,city scrape,479590608,Kam,15/09/2022,NaN,within a few hours,93%,14%,f,Jordan,...,NaN,NaN,NaN,NaN,f,12,12,0,0,NaN
6695,city scrape,576944427,Wun Man,11/05/2024,Hong Kong,within an hour,95%,100%,f,Wan Chai,...,NaN,NaN,NaN,NaN,t,3,3,0,0,NaN
6697,city scrape,577847193,Jojen,16/05/2024,NaN,within an hour,100%,83%,f,Sheung Wan,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN
6712,city scrape,3776595,Phoebe,06/10/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,44,14,29,1,NaN
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN

In [28]:
hrrsh.to_csv("A")
banos.to_csv("B")
precio.to_csv("C")
ibiv.to_csv("D")
hrpr.to_csv("E")
accommodates.to_csv("F")