In [38]:
import json
import glob
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [39]:
df = pd.read_csv("HongKong_China_Data.csv")
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   source                                        6718 non-null   object
 1   host_id                                       6718 non-null   int64
 2   host_name                                     6718 non-null   object
 3   host_since                                    6718 non-null   object
 4   host_location                                 4431 non-null   object
 5   host_response_time                            6401 non-null   object
 6   host_response_rate                            6401 non-null   object
 7   host_acceptance_rate                          6475 non-null   object
 8   host_is_superhost                             6641 non-null   object
 9   host_neighbourhood                            6435 non-null   object
 10  host_total_listings_count                     6718 non-null   int64
 11  host_verifications                            6718 non-null   object
 12  host_has_profile_pic                          6718 non-null   object
 13  host_identity_verified                        6718 non-null   object
 14  neighbourhood                                 1678 non-null   object
 15  neighbourhood_cleansed                        6718 non-null   object
 16  property_type                                 6718 non-null   object
 17  room_type                                     6718 non-null   object
 18  accommodates                                  6718 non-null   int64
 19  bathrooms                                     5583 non-null   float64
 20  bathrooms_text                                6701 non-null   object
 21  bedrooms                                      6347 non-null   float64
 22  beds                                          5575 non-null   float64
 23  amenities                                     6718 non-null   object
 24  price                                         5594 non-null   object
 25  minimum_nights                                6718 non-null   int64
 26  maximum_nights                                6718 non-null   int64
 27  minimum_minimum_nights                        6718 non-null   int64
 28  maximum_minimum_nights                        6718 non-null   int64
 29  minimum_maximum_nights                        6718 non-null   int64
 30  maximum_maximum_nights                        6718 non-null   int64
 31  minimum_nights_avg_ntm                        6718 non-null   float64
 32  maximum_nights_avg_ntm                        6718 non-null   float64
 33  availability_30                               6718 non-null   int64
 34  availability_60                               6718 non-null   int64
 35  availability_90                               6718 non-null   int64
 36  availability_365                              6718 non-null   int64
 37  number_of_reviews                             6718 non-null   int64
 38  number_of_reviews_ltm                         6718 non-null   int64
 39  number_of_reviews_l30d                        6718 non-null   int64
 40  first_review                                  3467 non-null   object
 41  last_review                                   3467 non-null   object
 42  review_scores_rating                          3467 non-null   float64
 43  review_scores_accuracy                        3467 non-null   float64
 44  instant_bookable                              6718 non-null   object
 45  calculated_host_listings_count                6718 non-null   int64
 46  calculated_host_listings_count_entire_homes   6718 non-null   int64
 47  calculated_host_listings_count_private_rooms  6718 non-null   int64
 48  calculated_host_listings_count_shared_rooms   6718 non-null   int64
 49  reviews_per_month                             3467 non-null   float64
dtypes: float64(8), int64(20), object(22)
memory usage: 2.6+ MB

**a) 5 Host Name diferentes**

In [41]:
hn = df[(df["host_name"] == "Albert") | (df["host_name"] == "Hau Kuen") | (df["host_name"] == "Edwin") | (df["host_name"] == "Ivy") | (df["host_name"] == "Habyt")]
hn

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
18,city scrape,3784841,Albert,07/10/2012,Hong Kong,within an hour,100%,88%,f,Mong Kok,...,03/01/2013,23/07/2024,4.17,4.15,f,6,1,5,0,0.09
20,city scrape,3784841,Albert,07/10/2012,Hong Kong,within an hour,100%,88%,f,Mong Kok,...,03/12/2012,05/01/2015,4.67,4.75,f,6,1,5,0,0.03
21,city scrape,3784841,Albert,07/10/2012,Hong Kong,within an hour,100%,88%,f,Mong Kok,...,07/01/2013,29/04/2022,4.62,4.48,f,6,1,5,0,0.14
22,city scrape,3784841,Albert,07/10/2012,Hong Kong,within an hour,100%,88%,f,Mong Kok,...,14/01/2013,31/03/2022,4.29,4.56,f,6,1,5,0,0.31
31,city scrape,4584648,Ivy,04/01/2013,Hong Kong,within a day,100%,39%,f,Mong Kok,...,01/04/2013,22/06/2015,4.00,4.00,f,351,12,338,1,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6631,city scrape,4584648,Ivy,04/01/2013,Hong Kong,within a day,100%,39%,f,Mong Kok,...,NaN,NaN,NaN,NaN,f,351,12,338,1,NaN
6659,city scrape,4584648,Ivy,04/01/2013,Hong Kong,within a day,100%,39%,f,Mong Kok,...,NaN,NaN,NaN,NaN,f,351,12,338,1,NaN
6668,city scrape,4584648,Ivy,04/01/2013,Hong Kong,within a day,100%,39%,f,Mong Kok,...,NaN,NaN,NaN,NaN,t,351,12,338,1,NaN
6701,city scrape,267770044,Habyt,11/06/2019,Hong Kong,within a day,70%,50%,f,Tai Ping Shan,...,NaN,NaN,NaN,NaN,t,85,19,66,0,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

**b) Host unidos después del 2020**

In [42]:
#Reemplacé la / por -
#Convertí de cadena a datetime
df['host_since'] = df['host_since'].str.replace('/','-')
df['host_since'] = pd.to_datetime(df['host_since'], format = "%d-%m-%Y",errors='coerce')
dsps = df[df['host_since'] > pd.Timestamp("2020-01-01")]
dsps

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
2563,city scrape,515763765,Danny,2023-05-21,NaN,NaN,NaN,NaN,f,NaN,...,12/01/2020,02/09/2024,4.76,4.76,f,3,2,1,0,0.48
2564,city scrape,515763765,Danny,2023-05-21,NaN,NaN,NaN,NaN,f,NaN,...,07/02/2020,16/11/2024,4.87,4.83,f,3,2,1,0,0.51
2611,city scrape,326920595,Anna,2020-01-12,NaN,within an hour,100%,89%,f,Tsim Sha Tsui,...,26/05/2023,25/11/2024,4.61,4.64,f,9,0,9,0,1.87
2617,city scrape,340318261,Airy Stay,2020-03-05,NaN,within an hour,100%,100%,f,Tsim Sha Tsui,...,26/07/2020,08/12/2024,4.53,4.65,t,9,0,9,0,1.92
2619,city scrape,340318261,Airy Stay,2020-03-05,NaN,within an hour,100%,100%,f,Tsim Sha Tsui,...,06/08/2020,02/12/2024,4.40,4.43,t,9,0,9,0,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6708,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6709,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6710,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6715,city scrape,667730514,James John,2024-12-19,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6717,city scrape,668016531,佩涛,2024-12-20,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**c) Host que responden a más tardar 1 día**

In [43]:
resp = df[(df["host_response_time"] == "within an hour") | (df["host_response_time"] == "within a few hours") | (df["host_response_time"] == "within a day")]
resp

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,2010-11-30,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,2011-10-17,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,2011-11-04,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,2011-11-23,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,2011-11-26,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6708,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6709,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6710,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6712,city scrape,3776595,Phoebe,2012-10-06,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,44,14,29,1,NaN
6713,city scrape,4209137,Cherry,2012-11-21,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN

**d) Filas múltiplos de 200**

In [44]:
multiplos = df.iloc[[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3800, 4000, 4200, 4400, 4600, 4800, 5000, 5200, 5400, 5600, 5800, 6000, 6200, 6400, 6600],:]
multiplos

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
200,city scrape,24427956,Francis,2014-12-03,Hong Kong,within an hour,100%,91%,t,NaN,...,02/01/2015,04/12/2024,4.93,4.91,f,1,1,0,0,0.78
400,previous scrape,51969157,Jojo,2015-12-22,Hong Kong,within an hour,100%,100%,f,Jordan,...,19/01/2016,08/11/2018,3.50,4.00,t,21,0,21,0,0.02
600,city scrape,30075899,Joanne,2015-03-26,"Kowloon, Hong Kong",NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
800,previous scrape,56570136,The Grand Blossom,2016-01-29,Hong Kong,within a few hours,100%,100%,f,Hung Hom,...,15/05/2017,01/01/2024,4.46,4.57,f,50,48,2,0,0.38
1000,city scrape,149491015,Michael,2017-09-07,NaN,within an hour,100%,100%,f,NaN,...,01/10/2017,24/07/2024,4.87,4.91,t,1,1,0,0,1.38
1200,city scrape,97240131,Jov,2016-09-29,Hong Kong,within a few hours,100%,49%,f,Kennedy Town,...,NaN,NaN,NaN,NaN,f,290,21,269,0,NaN
1400,previous scrape,122131447,Debe,2017-03-23,"Kowloon, Hong Kong",within an hour,100%,99%,f,Mong Kok,...,19/09/2018,08/12/2019,4.14,4.14,t,68,0,66,2,0.09
1600,city scrape,156409670,Tushita,2017-10-27,NaN,within a day,66%,21%,f,Crows Nest,...,NaN,NaN,NaN,NaN,f,87,85,2,0,NaN
1800,city scrape,97240131,Jov,2016-09-29,Hong Kong,within a few hours,100%,49%,f,Kennedy Town,...,NaN,NaN,NaN,NaN,f,290,21,269,0,NaN
2000,city scrape,49929481,Mandy,2015-11-26,NaN,within a few hours,100%,76%,f,NaN,...,21/06/2019,22/08/2024,4.64,4.72,f,4,0,4,0,0.37
2200,city scrape,38567653,Nana,2015-07-15,Hong Kong,NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2400,city scrape,67709885,Steven,2016-04-18,Hong Kong,within a few hours,98%,38%,f,Mong Kok,...,NaN,NaN,NaN,NaN,f,279,24,255,0,NaN
2600,city scrape,276141713,ArtRoom,2019-07-14,NaN,within an hour,100%,100%,t,Tai Kok Sui,...,25/12/2022,09/11/2024,4.96,4.87,f,19,1,0,18,0.95
2800,city scrape,138649185,Sidharth,2017-07-05,NaN,within a day,90%,34%,f,Central,...,NaN,NaN,NaN,NaN,f,135,135,0,0,NaN
3000,city scrape,171064382,Kayla,2018-02-01,Hong Kong,within a day,100%,50%,f,Sheung Wan,...,26/08/2022,16/03/2024,5.00,4.57,f,1,1,0,0,0.25
3200,previous scrape,485624917,Tania,2022-10-30,"New Territories, Hong Kong",within a day,50%,97%,f,Discovery Bay,...,27/12/2022,02/11/2024,4.62,4.79,f,1,1,0,0,1.61
3400,city scrape,475889596,Jov,2022-08-20,NaN,within a few hours,96%,41%,f,Quarry Bay,...,NaN,NaN,NaN,NaN,f,335,19,316,0,NaN
3600,city scrape,475889596,Jov,2022-08-20,NaN,within a few hours,96%,41%,f,Quarry Bay,...,NaN,NaN,NaN,NaN,f,335,19,316,0,NaN
3800,city scrape,498695672,Morgen,2023-01-30,NaN,within a few hours,100%,44%,f,Hung Hom Bay,...,NaN,NaN,NaN,NaN,f,105,1,104,0,NaN
4000,city scrape,260984194,花,2019-05-10,"Kowloon, Hong Kong",within an hour,100%,100%,f,Tsim Sha Tsui,...,13/04/2023,30/11/2024,4.50,4.50,t,4,0,4,0,0.29
4200,previous scrape,130541407,Zohra,2017-05-16,"New Territories, Hong Kong",NaN,NaN,0%,f,Wan Chai,...,10/07/2023,28/08/2023,4.57,4.71,f,1,1,0,0,0.39
4400,city scrape,525442279,Aman,2023-07-13,"Bangkok, Thailand",within an hour,100%,100%,t,Mong Kok,...,23/07/2023,11/11/2024,5.00,5.00,t,1,1,0,0,1.10
4600,previous scrape,533758033,Harbour,2023-08-25,NaN,within an hour,67%,100%,f,Mong Kok,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
4800,city scrape,6763017,Rina,2013-06-05,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN
5000,city scrape,123147168,Af,2017-03-29,NaN,a few days or more,0%,30%,f,Hung Hom,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
5200,city scrape,6763017,Rina,2013-06-05,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN
5400,city scrape,458625122,Daniel,2022-05-11,NaN,within a few hours,100%,60%,f,Sai Kung,...,01/09/2024,01/09/2024,5.00,5.00,f,1,1,0,0,0.27
5600,city scrape,563531235,Rose,2024-02-23,NaN,within an hour,100%,65%,f,Tsuen Wan,...,04/05/2024,04/05/2024,4.00,3.00,t,130,0,130,0,0.13
5800,city scrape,10254437,Eve,2013-11-25,Hong Kong,within an hour,100%,95%,NaN,Causeway Bay,...,14/06/2024,11/12/2024,4.75,4.57,f,15,15,0,0,4.38
6000,city scrape,585836978,Kin Fai,2024-06-26,NaN,within an hour,100%,98%,t,Causeway Bay,...,23/08/2024,23/08/2024,4.00,4.00,t,1,0,1,0,0.25
6200,city scrape,214793286,Wai Kit,2018-09-11,NaN,within an hour,100%,99%,f,Tsim Sha Tsui,...,NaN,NaN,NaN,NaN,f,20,0,20,0,NaN
6400,city scrape,496967894,Lau,2023-01-19,NaN,a few days or more,20%,53%,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6600,city scrape,6763017,Rina,2013-06-05,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN

**e) Registros de tipos de cuarto**

In [45]:
tc = df[(df["room_type"] == "Entire home/apt") | (df["room_type"] == "Private room")]
tc

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,2010-11-30,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,2011-10-17,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,2011-11-04,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,2011-11-23,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,2011-11-26,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,2012-11-21,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,2016-02-04,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,2024-12-19,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,2019-07-31,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,2024-12-20,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**f) Cuartos con a lo mucho 4 camas**

In [46]:
camas = df[df["beds"] <= 4]
camas

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,2010-11-30,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
3,city scrape,1435069,Shanshan,2011-11-23,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,2011-11-26,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
5,city scrape,1576511,Frederic,2012-01-07,Hong Kong,NaN,NaN,0%,f,Sheung Wan,...,27/01/2012,14/08/2015,4.89,5.00,f,1,1,0,0,0.13
6,city scrape,1209984,Daisy,2011-09-26,Hong Kong,NaN,NaN,100%,f,Mui Wo,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6712,city scrape,3776595,Phoebe,2012-10-06,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,44,14,29,1,NaN
6713,city scrape,4209137,Cherry,2012-11-21,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,2016-02-04,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,2024-12-19,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,2019-07-31,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

**g) Sean superhost**

In [47]:
sh = df[df["host_is_superhost"] == "t"]
sh

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
3,city scrape,1435069,Shanshan,2011-11-23,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
7,city scrape,1189239,Audrey,2011-09-21,Hong Kong,within a few hours,100%,85%,t,Mid-Levels,...,12/06/2012,08/12/2024,4.71,4.75,f,1,1,0,0,1.97
16,city scrape,634820,Wontonmeen,2011-05-27,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,17/09/2012,01/12/2024,4.68,4.61,t,6,0,1,3,1.42
17,city scrape,634820,Wontonmeen,2011-05-27,"Kowloon, Hong Kong",within an hour,100%,94%,t,Mong Kok,...,21/08/2012,05/06/2024,4.56,4.72,t,6,0,1,3,0.26
19,city scrape,3800609,Zoe,2012-10-08,NaN,within an hour,100%,90%,t,Mong Kok,...,21/11/2012,16/12/2024,4.63,4.57,f,9,9,0,0,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6652,city scrape,38156634,Raymond,2015-07-11,NaN,within an hour,100%,100%,t,Wan Chai,...,14/12/2024,17/12/2024,5.00,5.00,f,2,2,0,0,2.00
6655,city scrape,6067974,Wilson,2013-04-24,NaN,within an hour,100%,96%,t,Fortress Hill,...,NaN,NaN,NaN,NaN,t,65,65,0,0,NaN
6669,city scrape,121022466,Han,2017-03-16,Hong Kong,within an hour,100%,36%,t,Tseung Kwan O,...,NaN,NaN,NaN,NaN,f,4,0,4,0,NaN
6670,city scrape,121022466,Han,2017-03-16,Hong Kong,within an hour,100%,36%,t,Tseung Kwan O,...,NaN,NaN,NaN,NaN,f,4,0,4,0,NaN
6671,city scrape,121022466,Han,2017-03-16,Hong Kong,within an hour,100%,36%,t,Tseung Kwan O,...,NaN,NaN,NaN,NaN,f,4,0,4,0,NaN

**h) Columnas impares**

In [48]:
impares = df.iloc[:, 1::2]
impares

,host_id,host_since,host_response_time,host_acceptance_rate,host_neighbourhood,host_verifications,host_identity_verified,neighbourhood_cleansed,room_type,bathrooms,...,minimum_nights_avg_ntm,availability_30,availability_90,number_of_reviews,number_of_reviews_l30d,last_review,review_scores_accuracy,calculated_host_listings_count,calculated_host_listings_count_private_rooms,reviews_per_month
0,304876,2010-11-30,within a day,69%,Central,"['email', 'phone']",t,Central & Western,Entire home/apt,1.0,...,28.0,6,55,316,0,13/02/2024,4.40,6,4,1.92
1,1300549,2011-10-17,within an hour,81%,Sheung Wan,"['email', 'phone']",t,Central & Western,Entire home/apt,NaN,...,30.0,0,19,220,2,06/12/2024,4.91,1,0,1.37
2,1370155,2011-11-04,within a few hours,NaN,The Peak,"['email', 'phone', 'work_email']",t,Central & Western,Private room,2.5,...,10.0,28,88,0,0,NaN,NaN,1,1,NaN
3,1435069,2011-11-23,within a day,86%,Wan Chai,"['email', 'phone']",t,Wan Chai,Entire home/apt,1.0,...,26.5,15,51,302,0,02/11/2024,4.76,1,0,1.90
4,1443229,2011-11-26,within a few hours,88%,Stanley,"['email', 'phone']",t,Yuen Long,Entire home/apt,2.0,...,3.0,23,83,56,1,06/12/2024,4.20,2,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,4209137,2012-11-21,within an hour,98%,Wan Chai,"['email', 'phone']",t,Wan Chai,Entire home/apt,1.0,...,5.0,25,85,0,0,NaN,NaN,34,19,NaN
6714,57341318,2016-02-04,NaN,NaN,Mid-Levels,"['email', 'phone']",t,Central & Western,Entire home/apt,1.0,...,1.0,30,90,0,0,NaN,NaN,1,0,NaN
6715,667730514,2024-12-19,NaN,NaN,Wong Chuk Hang,"['email', 'phone']",t,Southern,Entire home/apt,1.0,...,1.0,18,78,0,0,NaN,NaN,1,0,NaN
6716,280827591,2019-07-31,NaN,NaN,Sai Wan,['phone'],t,Central & Western,Private room,1.0,...,1.0,30,90,0,0,NaN,NaN,1,1,NaN
6717,668016531,2024-12-20,NaN,NaN,Yau Ma Tei,['phone'],t,Yau Tsim Mong,Private room,8.0,...,1.0,30,90,0,0,NaN,NaN,1,1,NaN