In [11]:
import json
import glob
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [12]:
df = pd.read_csv("HongKong_China_Data.csv")
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   source                                        6718 non-null   object
 1   host_id                                       6718 non-null   int64
 2   host_name                                     6718 non-null   object
 3   host_since                                    6718 non-null   object
 4   host_location                                 4431 non-null   object
 5   host_response_time                            6401 non-null   object
 6   host_response_rate                            6401 non-null   object
 7   host_acceptance_rate                          6475 non-null   object
 8   host_is_superhost                             6641 non-null   object
 9   host_neighbourhood                            6435 non-null   object
 10  host_total_listings_count                     6718 non-null   int64
 11  host_verifications                            6718 non-null   object
 12  host_has_profile_pic                          6718 non-null   object
 13  host_identity_verified                        6718 non-null   object
 14  neighbourhood                                 1678 non-null   object
 15  neighbourhood_cleansed                        6718 non-null   object
 16  property_type                                 6718 non-null   object
 17  room_type                                     6718 non-null   object
 18  accommodates                                  6718 non-null   int64
 19  bathrooms                                     5583 non-null   float64
 20  bathrooms_text                                6701 non-null   object
 21  bedrooms                                      6347 non-null   float64
 22  beds                                          5575 non-null   float64
 23  amenities                                     6718 non-null   object
 24  price                                         5594 non-null   object
 25  minimum_nights                                6718 non-null   int64
 26  maximum_nights                                6718 non-null   int64
 27  minimum_minimum_nights                        6718 non-null   int64
 28  maximum_minimum_nights                        6718 non-null   int64
 29  minimum_maximum_nights                        6718 non-null   int64
 30  maximum_maximum_nights                        6718 non-null   int64
 31  minimum_nights_avg_ntm                        6718 non-null   float64
 32  maximum_nights_avg_ntm                        6718 non-null   float64
 33  availability_30                               6718 non-null   int64
 34  availability_60                               6718 non-null   int64
 35  availability_90                               6718 non-null   int64
 36  availability_365                              6718 non-null   int64
 37  number_of_reviews                             6718 non-null   int64
 38  number_of_reviews_ltm                         6718 non-null   int64
 39  number_of_reviews_l30d                        6718 non-null   int64
 40  first_review                                  3467 non-null   object
 41  last_review                                   3467 non-null   object
 42  review_scores_rating                          3467 non-null   float64
 43  review_scores_accuracy                        3467 non-null   float64
 44  instant_bookable                              6718 non-null   object
 45  calculated_host_listings_count                6718 non-null   int64
 46  calculated_host_listings_count_entire_homes   6718 non-null   int64
 47  calculated_host_listings_count_private_rooms  6718 non-null   int64
 48  calculated_host_listings_count_shared_rooms   6718 non-null   int64
 49  reviews_per_month                             3467 non-null   float64
dtypes: float64(8), int64(20), object(22)
memory usage: 2.6+ MB

**b) Host unidos después del 2020**

In [14]:
#Reemplacé la / por -
#Convertí de cadena a datetime
df['host_since'] = df['host_since'].str.replace('/','-')
df['host_since'] = pd.to_datetime(df['host_since'], format = "%d-%m-%Y",errors='coerce')
dsps = df[df['host_since'] > pd.Timestamp("2020-01-01")]
dsps

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
2563,city scrape,515763765,Danny,2023-05-21,NaN,NaN,NaN,NaN,f,NaN,...,12/01/2020,02/09/2024,4.76,4.76,f,3,2,1,0,0.48
2564,city scrape,515763765,Danny,2023-05-21,NaN,NaN,NaN,NaN,f,NaN,...,07/02/2020,16/11/2024,4.87,4.83,f,3,2,1,0,0.51
2611,city scrape,326920595,Anna,2020-01-12,NaN,within an hour,100%,89%,f,Tsim Sha Tsui,...,26/05/2023,25/11/2024,4.61,4.64,f,9,0,9,0,1.87
2617,city scrape,340318261,Airy Stay,2020-03-05,NaN,within an hour,100%,100%,f,Tsim Sha Tsui,...,26/07/2020,08/12/2024,4.53,4.65,t,9,0,9,0,1.92
2619,city scrape,340318261,Airy Stay,2020-03-05,NaN,within an hour,100%,100%,f,Tsim Sha Tsui,...,06/08/2020,02/12/2024,4.40,4.43,t,9,0,9,0,3.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6708,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6709,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6710,city scrape,489744412,Lailai,2022-11-30,Hong Kong,within an hour,98%,98%,f,Fortress Hill,...,NaN,NaN,NaN,NaN,f,9,0,9,0,NaN
6715,city scrape,667730514,James John,2024-12-19,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6717,city scrape,668016531,佩涛,2024-12-20,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [15]:
dsps.to_csv("B")