In [1]:
import json
import glob
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv("HongKong_China_Data.csv")
df

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,city scrape,304876,Brendan,30/11/2010,Hong Kong,within a day,100%,69%,f,Central,...,19/06/2011,13/02/2024,4.47,4.40,f,6,2,4,0,1.92
1,previous scrape,1300549,Darren,17/10/2011,Hong Kong,within an hour,100%,81%,f,Sheung Wan,...,30/10/2011,06/12/2024,4.90,4.91,f,1,1,0,0,1.37
2,city scrape,1370155,Chuster,04/11/2011,Hong Kong,within a few hours,100%,NaN,f,The Peak,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
3,city scrape,1435069,Shanshan,23/11/2011,Hong Kong,within a day,100%,86%,t,Wan Chai,...,16/12/2011,02/11/2024,4.77,4.76,f,1,1,0,0,1.90
4,city scrape,1443229,Shan,26/11/2011,Hong Kong,within a few hours,100%,88%,f,Stanley,...,21/04/2012,06/12/2024,4.25,4.20,t,2,2,0,0,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6713,city scrape,4209137,Cherry,21/11/2012,Hong Kong,within an hour,100%,98%,f,Wan Chai,...,NaN,NaN,NaN,NaN,f,34,14,19,1,NaN
6714,city scrape,57341318,Edwin,04/02/2016,Hong Kong,NaN,NaN,NaN,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6715,city scrape,667730514,James John,19/12/2024,NaN,NaN,NaN,NaN,f,Wong Chuk Hang,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
6716,city scrape,280827591,Iryna,31/07/2019,NaN,NaN,NaN,NaN,f,Sai Wan,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
6717,city scrape,668016531,佩涛,20/12/2024,NaN,NaN,NaN,NaN,f,Yau Ma Tei,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   source                                        6718 non-null   object
 1   host_id                                       6718 non-null   int64
 2   host_name                                     6718 non-null   object
 3   host_since                                    6718 non-null   object
 4   host_location                                 4431 non-null   object
 5   host_response_time                            6401 non-null   object
 6   host_response_rate                            6401 non-null   object
 7   host_acceptance_rate                          6475 non-null   object
 8   host_is_superhost                             6641 non-null   object
 9   host_neighbourhood                            6435 non-null   object
 10  host_total_listings_count                     6718 non-null   int64
 11  host_verifications                            6718 non-null   object
 12  host_has_profile_pic                          6718 non-null   object
 13  host_identity_verified                        6718 non-null   object
 14  neighbourhood                                 1678 non-null   object
 15  neighbourhood_cleansed                        6718 non-null   object
 16  property_type                                 6718 non-null   object
 17  room_type                                     6718 non-null   object
 18  accommodates                                  6718 non-null   int64
 19  bathrooms                                     5583 non-null   float64
 20  bathrooms_text                                6701 non-null   object
 21  bedrooms                                      6347 non-null   float64
 22  beds                                          5575 non-null   float64
 23  amenities                                     6718 non-null   object
 24  price                                         5594 non-null   object
 25  minimum_nights                                6718 non-null   int64
 26  maximum_nights                                6718 non-null   int64
 27  minimum_minimum_nights                        6718 non-null   int64
 28  maximum_minimum_nights                        6718 non-null   int64
 29  minimum_maximum_nights                        6718 non-null   int64
 30  maximum_maximum_nights                        6718 non-null   int64
 31  minimum_nights_avg_ntm                        6718 non-null   float64
 32  maximum_nights_avg_ntm                        6718 non-null   float64
 33  availability_30                               6718 non-null   int64
 34  availability_60                               6718 non-null   int64
 35  availability_90                               6718 non-null   int64
 36  availability_365                              6718 non-null   int64
 37  number_of_reviews                             6718 non-null   int64
 38  number_of_reviews_ltm                         6718 non-null   int64
 39  number_of_reviews_l30d                        6718 non-null   int64
 40  first_review                                  3467 non-null   object
 41  last_review                                   3467 non-null   object
 42  review_scores_rating                          3467 non-null   float64
 43  review_scores_accuracy                        3467 non-null   float64
 44  instant_bookable                              6718 non-null   object
 45  calculated_host_listings_count                6718 non-null   int64
 46  calculated_host_listings_count_entire_homes   6718 non-null   int64
 47  calculated_host_listings_count_private_rooms  6718 non-null   int64
 48  calculated_host_listings_count_shared_rooms   6718 non-null   int64
 49  reviews_per_month                             3467 non-null   float64
dtypes: float64(8), int64(20), object(22)
memory usage: 2.6+ MB

**d) Filas múltiplos de 200**

In [4]:
multiplos = df.iloc[[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200, 2400, 2600, 2800, 3000, 3200, 3400, 3600, 3800, 4000, 4200, 4400, 4600, 4800, 5000, 5200, 5400, 5600, 5800, 6000, 6200, 6400, 6600],:]
multiplos

,source,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,first_review,last_review,review_scores_rating,review_scores_accuracy,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
200,city scrape,24427956,Francis,03/12/2014,Hong Kong,within an hour,100%,91%,t,NaN,...,02/01/2015,04/12/2024,4.93,4.91,f,1,1,0,0,0.78
400,previous scrape,51969157,Jojo,22/12/2015,Hong Kong,within an hour,100%,100%,f,Jordan,...,19/01/2016,08/11/2018,3.50,4.00,t,21,0,21,0,0.02
600,city scrape,30075899,Joanne,26/03/2015,"Kowloon, Hong Kong",NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
800,previous scrape,56570136,The Grand Blossom,29/01/2016,Hong Kong,within a few hours,100%,100%,f,Hung Hom,...,15/05/2017,01/01/2024,4.46,4.57,f,50,48,2,0,0.38
1000,city scrape,149491015,Michael,07/09/2017,NaN,within an hour,100%,100%,f,NaN,...,01/10/2017,24/07/2024,4.87,4.91,t,1,1,0,0,1.38
1200,city scrape,97240131,Jov,29/09/2016,Hong Kong,within a few hours,100%,49%,f,Kennedy Town,...,NaN,NaN,NaN,NaN,f,290,21,269,0,NaN
1400,previous scrape,122131447,Debe,23/03/2017,"Kowloon, Hong Kong",within an hour,100%,99%,f,Mong Kok,...,19/09/2018,08/12/2019,4.14,4.14,t,68,0,66,2,0.09
1600,city scrape,156409670,Tushita,27/10/2017,NaN,within a day,66%,21%,f,Crows Nest,...,NaN,NaN,NaN,NaN,f,87,85,2,0,NaN
1800,city scrape,97240131,Jov,29/09/2016,Hong Kong,within a few hours,100%,49%,f,Kennedy Town,...,NaN,NaN,NaN,NaN,f,290,21,269,0,NaN
2000,city scrape,49929481,Mandy,26/11/2015,NaN,within a few hours,100%,76%,f,NaN,...,21/06/2019,22/08/2024,4.64,4.72,f,4,0,4,0,0.37
2200,city scrape,38567653,Nana,15/07/2015,Hong Kong,NaN,NaN,NaN,f,NaN,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2400,city scrape,67709885,Steven,18/04/2016,Hong Kong,within a few hours,98%,38%,f,Mong Kok,...,NaN,NaN,NaN,NaN,f,279,24,255,0,NaN
2600,city scrape,276141713,ArtRoom,14/07/2019,NaN,within an hour,100%,100%,t,Tai Kok Sui,...,25/12/2022,09/11/2024,4.96,4.87,f,19,1,0,18,0.95
2800,city scrape,138649185,Sidharth,05/07/2017,NaN,within a day,90%,34%,f,Central,...,NaN,NaN,NaN,NaN,f,135,135,0,0,NaN
3000,city scrape,171064382,Kayla,01/02/2018,Hong Kong,within a day,100%,50%,f,Sheung Wan,...,26/08/2022,16/03/2024,5.00,4.57,f,1,1,0,0,0.25
3200,previous scrape,485624917,Tania,30/10/2022,"New Territories, Hong Kong",within a day,50%,97%,f,Discovery Bay,...,27/12/2022,02/11/2024,4.62,4.79,f,1,1,0,0,1.61
3400,city scrape,475889596,Jov,20/08/2022,NaN,within a few hours,96%,41%,f,Quarry Bay,...,NaN,NaN,NaN,NaN,f,335,19,316,0,NaN
3600,city scrape,475889596,Jov,20/08/2022,NaN,within a few hours,96%,41%,f,Quarry Bay,...,NaN,NaN,NaN,NaN,f,335,19,316,0,NaN
3800,city scrape,498695672,Morgen,30/01/2023,NaN,within a few hours,100%,44%,f,Hung Hom Bay,...,NaN,NaN,NaN,NaN,f,105,1,104,0,NaN
4000,city scrape,260984194,花,10/05/2019,"Kowloon, Hong Kong",within an hour,100%,100%,f,Tsim Sha Tsui,...,13/04/2023,30/11/2024,4.50,4.50,t,4,0,4,0,0.29
4200,previous scrape,130541407,Zohra,16/05/2017,"New Territories, Hong Kong",NaN,NaN,0%,f,Wan Chai,...,10/07/2023,28/08/2023,4.57,4.71,f,1,1,0,0,0.39
4400,city scrape,525442279,Aman,13/07/2023,"Bangkok, Thailand",within an hour,100%,100%,t,Mong Kok,...,23/07/2023,11/11/2024,5.00,5.00,t,1,1,0,0,1.10
4600,previous scrape,533758033,Harbour,25/08/2023,NaN,within an hour,67%,100%,f,Mong Kok,...,NaN,NaN,NaN,NaN,t,7,0,7,0,NaN
4800,city scrape,6763017,Rina,05/06/2013,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN
5000,city scrape,123147168,Af,29/03/2017,NaN,a few days or more,0%,30%,f,Hung Hom,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
5200,city scrape,6763017,Rina,05/06/2013,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN
5400,city scrape,458625122,Daniel,11/05/2022,NaN,within a few hours,100%,60%,f,Sai Kung,...,01/09/2024,01/09/2024,5.00,5.00,f,1,1,0,0,0.27
5600,city scrape,563531235,Rose,23/02/2024,NaN,within an hour,100%,65%,f,Tsuen Wan,...,04/05/2024,04/05/2024,4.00,3.00,t,130,0,130,0,0.13
5800,city scrape,10254437,Eve,25/11/2013,Hong Kong,within an hour,100%,95%,NaN,Causeway Bay,...,14/06/2024,11/12/2024,4.75,4.57,f,15,15,0,0,4.38
6000,city scrape,585836978,Kin Fai,26/06/2024,NaN,within an hour,100%,98%,t,Causeway Bay,...,23/08/2024,23/08/2024,4.00,4.00,t,1,0,1,0,0.25
6200,city scrape,214793286,Wai Kit,11/09/2018,NaN,within an hour,100%,99%,f,Tsim Sha Tsui,...,NaN,NaN,NaN,NaN,f,20,0,20,0,NaN
6400,city scrape,496967894,Lau,19/01/2023,NaN,a few days or more,20%,53%,f,Mid-Levels,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
6600,city scrape,6763017,Rina,05/06/2013,Hong Kong,within an hour,99%,52%,f,Tai Tam,...,NaN,NaN,NaN,NaN,f,183,132,51,0,NaN

In [5]:
multiplos.to_csv("D")